@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Moranga';
  src: url('../fonts/Moranga-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Cascadia-Code';
  src: url('../fonts/CascadiaMono-Italic.otf') format('opentype');
}

:root {
  margin: 0;
  padding: 0;
  background-color: #111827;
}

