@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cascadia-Code-italic';
  src: url('../fonts/CascadiaMono-Italic.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Cascadia-Code-normal';
  src: url('../fonts/CascadiaCode-Light.otf') format('opentype');
  font-display: swap;
}

:root {
  margin: 0;
  padding: 0;
  background-color: #111827;
}

::-webkit-scrollbar {
  background-color: #111827;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #032b80;
}
